{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="POST" action="/home/comends/">{% csrf_token%}
              
                <div class="card-header">
                  <h5 class="title">Por favor ingrese el comentario que desee hacer</h5>

                  <h6 class="card-category">
                      Introduzca sus datos
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-auto px-md-auto">
                        <div class="form-group">
                          <label>Ingrese alguna palabra clave que nos ayude a entender el problema</label>
                          <input class="form-control" id="palabra_clave" name="palabra_clave" required="" type="text" value="">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-auto px-md-auto">
                        <div class="form-group">
                          <label>Ingrese el Email al que desea que nos contactemos</label>
                          <input class="form-control" id="email_contacto" name="email_contacto" required="">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 px-md-12">
                        <div class="form-group">
                          <label>Ingrese su comentario</label>
                          <textarea class="form-control" id="comentario" name="comentario" required="" ></textarea>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                  <button type="submit" name="register" class="btn btn-fill btn-primary">Register</button>
                  &nbsp; &nbsp;
                  Have an account? <a href="/login.html" class="text-primary">Login</a>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
