{% extends "layouts/base.html" %}

{% block title %} level {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="card">

              <form role="form" method="POST" action=".">{% csrf_token%}
                <div class="card-header">
                    <div class="col-md-6 ml-auto mr-auto">
                        <h5 class="title">Login</h5>        
                      
                    </div>
                </div>
                  
                
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                          <div class="form-group">
                            <label>Nombre de usuario </label>
                            
                            {{ form.username }}
                            <br>
                            <br>
                            <label>Contraseña</label>
                            <br>
                            {{ form.password}}

                          </div>
                        </div>
                      </div>
                    
                </div>
                <div class="card-footer">
                    <div class="col-md-6 ml-auto mr-auto">
                        <button type="submit" name="register" class="col-md-12  btn btn-fill btn-primary">Login</button>
                        &nbsp; &nbsp;
                        ¿No tienes una cuenta? <a href="/register_user/" class="text-primary">Registrate</a>
                    </div>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}
