{% extends "layouts/base.html" %}

{% block title %} level {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="card">

              <form role="form" method="POST" action="/home/now_training/">{% csrf_token%}
                <div class="card-header">
                    <div class="col-md-6 ml-auto mr-auto">
                        <h5 class="title">Registrar Entrenamiento</h5>        
                      
                    </div>
                </div>
                  
                
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                          <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" id="nombres" name="nombres" required="" type="text" value="">
                            <label>Apellido</label>
                            <input class="form-control" id="apellidos" name="apellidos" required="" type="text" value="">
                          </div>
                        </div>
                      </div>
                    
                </div>
                <div class="card-footer">
                    <div class="col-md-6 ml-auto mr-auto">
                        <button type="submit" name="register" class="col-md-12  btn btn-fill btn-primary">Registrar</button>
                        &nbsp; &nbsp;
                    </div>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}
