

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a  rel="sponsored noopener noreferrer" 
             href="http://127.0.0.1:8000/home/index/" class="simple-text logo-mini">
            PI
          </a>
          <a rel="sponsored noopener noreferrer" 
             href="http://127.0.0.1:8000/home/index/" class="simple-text logo-normal">
            Inicio
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

        <li class="active">
          <a 
             href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
            <i class="tim-icons icon-user-run"></i>
            <p>Ejercicios</p>
          </a>
          <a 
             href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
            <i class="tim-icons icon-components"></i>
            <p>Grupos musculares</p>
          </a>
          <a 
             href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
            <i class="tim-icons icon-badge"></i>
            <p>Entrenadores</p>
          </a>
          <a 
             href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
            <i class="tim-icons icon-coins"></i>
            <p>Implementos</p>
          </a>
          <a 
             href="http://127.0.0.1:8000/register_user/">
             <i class="tim-icons icon-simple-add"></i>
            <p>Nuevos Atletas</p>
          </a>
          <a 
            href="http://127.0.0.1:8000/home/list_user/">
            <i class="tim-icons icon-satisfied"></i>
            <p>Sin Entrenar</p>
          </a>
          <a  
             href="http://127.0.0.1:8000/home/level/">
            <i class="tim-icons icon-chart-bar-32"></i>
            <p>Niveles</p>
          </a>
          <a 
             href="http://127.0.0.1:8000/home/comends/">
            <i class="tim-icons icon-pencil"></i>
            <p>Comentarios</p>
          </a>
          <a 
              href="http://127.0.0.1:8000/home/training/">
            <i class="tim-icons icon-check-2"></i>
            <p>Nuevo Entrenamiento</p>
          </a> 

          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">

            <a 
               href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
              <i class="tim-icons icon-components"></i>
              <p>Grupos musculares</p>
            </a>
            <a 
               href="https://appseed.us/admin-dashboards/django-dashboard-black-pro">
              <i class="tim-icons icon-badge"></i>
              <p>Entrenadores</p>
            </a>

            
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
